#game {
    width: 100%;
    font: 16px/35px Verdana, sans-serif;
}
/*Menu |begin*/
#menu {
    border: 4px double grey;
    width: 300px;
    margin: 10px auto 35px;
    padding: 15px;
    padding-top: 5px;
}

#section_input input {
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    border: 1px solid grey;
}

#max {
    font-style: italic;
    font-size: 11px;
    margin-left: 75px;
}

/*Menu |end*/

#divField {
    margin-left: 15px;
}

/*for table*/
table{
    border-collapse: collapse;
    border: 2px solid black;
}

td{
    text-align: center;
    border:1px solid black;
    margin: 0;
    padding: 0;
}
/*/for table*/

input[type="checkbox"] { display:none; } /*--здесь отключили стандартный checkbox--*/
input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    cursor: pointer;  
    } /*--здесь подключаем спрайт и выбираем нужный элемент--*/
input[type="checkbox"]:checked + label span {
    background-color: green;
} /*--сдвиг картинки при наведении--*/
input[type="checkbox"] + label span:hover {
    background-color: green;
}
.alive{
    background-color: green;
}

#section_return {
    display: none;
}