#main {
    width: 1024px;
    margin: 0 auto;
    outline: 0px solid red;
    font-family: Tahoma, sans-serif;
    background-color: white;
    position: relative;
}

#header1{
    margin-top: 95px;
    padding-bottom: 5px;
    border-bottom: 1px double black;
}

/*Таблица(общее)*/
table{
    border-collapse: collapse;
    border:2px solid black;
}

th{
    text-align: center;
    border:2px solid black;
<<<<<<< HEAD
    padding: 4px 10px;
=======
>>>>>>> 9a860c582f694fc1ab8780d33003e49fd1514afc
}
td{
    text-align: center;
    border:1px solid black;
<<<<<<< HEAD
    padding: 4px 10px;
=======
>>>>>>> 9a860c582f694fc1ab8780d33003e49fd1514afc
}
/*//Таблица(общее)*/

/*Расчёты*/
#calc{
    border-bottom:1px solid black;
    padding-bottom: 10px;
}
#calcH {
    float: left;
    display: inline-block;
}
#calcTable {
    display: inline-block;
    margin-left: 40px;
}
#mainTable {
<<<<<<< HEAD
    margin: 40px 0 0 300px;
}
.index {
    position: relative;
    left: 1px;
    bottom: 2px;
}
.line {
    position: relative;
    right: 19px;
    bottom: 3px;
}
.lineH {
    position: relative;
    right: 13px;
    bottom: 4px;
}
.fontNorm {
    font-weight: normal;
    color: green;
}
.separate {
    border-top: 2px solid black;
}
.colGreen {
    color: green;
}

.radical{
    border-top: 1px solid black;
    margin-left: -1px;
    padding-left: 3px;
}
.colorBlack {
    color: black;
}
.colorBlue {
    color: blue;
=======
    float: right;
>>>>>>> 9a860c582f694fc1ab8780d33003e49fd1514afc
}
/*//Расчёты*/

/*Форма*/
#form {
    display: inline-block;
    margin-top: 100px;
    margin-left: 350px;
}

.but{
    margin-top: 20px;
}
#form input{
    margin-bottom: 20px;
}
#form input:not(.radio):not(.interval) {
    width: 60px;
    border: 1px solid #717171;
}
.interval {
    width: 35px;
    border: none;
    border-bottom: 1px solid #717171;
    text-align: center;
    
}
/*//Форма*/


/*Навигационное меню*/
nav {
    display: inline-block;
    margin-left: 40px;
}
nav ul {
	list-style: none;
	padding-left: 0;
}
nav li {
	font-size: 24px;
	margin-right: 40px;
    float: left;
}
nav a:link, #nav a:visited {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
}
nav a:hover {
	color: #778899;
}
<<<<<<< HEAD

#kombo {
    margin-top: -1px;
}
#kombo sup {
    font-size: 12px;
}
=======
>>>>>>> 9a860c582f694fc1ab8780d33003e49fd1514afc
/*//Навигационное меню*/